.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-full.mat-pseudo-checkbox-indeterminate {
    background-color: #377dff !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
    .mdc-list-item__primary-text {
    color: #377dff !important;
}

.mat-mdc-select-arrow {
    display: none;
    border-left: unset !important;
    border-right: unset !important;
}
