<div class="rounded-lg p-6 text-center">
    <h1 class="mb-2 text-2xl font-bold">{{ data.title }}</h1>
    <div class="mb-4 border-b-2 border-gray-200"></div>

    <p class="mb-4 text-gray-700">{{ data.content }}</p>

    <mat-dialog-actions class="flex justify-center gap-4">
        <button
            class="rounded bg-red-500 px-4 py-2 text-white hover:bg-red-600"
            mat-button
            mat-dialog-close
        >
            {{ data.actions.cancel }}
        </button>
        <button
            class="rounded bg-nybble-theme px-4 py-2 text-white"
            mat-button
            [mat-dialog-close]="true"
            cdkFocusInitial
        >
            {{ data.actions.success }}
        </button>
    </mat-dialog-actions>
</div>
