<div
    class="mx-auto flex min-h-screen items-center justify-center bg-gray-100 md:w-1/2 lg:w-2/6"
>
    <div class="w-full max-w-2xl rounded-lg bg-white p-12 shadow-xl">
        <div class="text-4xl leading-tight tracking-tight">
            Reset your password
        </div>
        <div class="mt-0.5 font-medium">
            Create a new password for your account
        </div>

        @if (showAlert) {
            <fuse-alert
                class="mt-8"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>
        }

        @if (showForm) {
            <form
                class="mt-8"
                [formGroup]="resetPasswordForm"
                #resetPasswordNgForm="ngForm"
            >
                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        "
                        matSuffix
                    >
                        @if (passwordField.type === 'password') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye'"
                            ></mat-icon>
                        }
                        @if (passwordField.type === 'text') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye-slash'"
                            ></mat-icon>
                        }
                    </button>
                    @if (
                        resetPasswordForm.get('password').hasError('required')
                    ) {
                        <mat-error> Password is required </mat-error>
                    } @else if (
                        resetPasswordForm.get('password').hasError('pattern')
                    ) {
                        <mat-error>
                            Password must contain lowercase, uppercase, digit
                            and special character
                        </mat-error>
                    }
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="mt-2 w-full">
                    <mat-label>Password (Confirm)</mat-label>
                    <input
                        id="password-confirm"
                        matInput
                        type="password"
                        [formControlName]="'passwordConfirm'"
                        #passwordConfirmField
                    />
                    <button
                        mat-icon-button
                        type="button"
                        (click)="
                            passwordConfirmField.type === 'password'
                                ? (passwordConfirmField.type = 'text')
                                : (passwordConfirmField.type = 'password')
                        "
                        matSuffix
                    >
                        @if (passwordConfirmField.type === 'password') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye'"
                            ></mat-icon>
                        }
                        @if (passwordConfirmField.type === 'text') {
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:eye-slash'"
                            ></mat-icon>
                        }
                    </button>
                    @if (
                        resetPasswordForm
                            .get('passwordConfirm')
                            .hasError('required')
                    ) {
                        <mat-error>
                            Password confirmation is required
                        </mat-error>
                    } @else if (
                        resetPasswordForm
                            .get('passwordConfirm')
                            .hasError('mustMatch')
                    ) {
                        <mat-error> Passwords must match </mat-error>
                    }
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-3 w-full bg-nybble-theme"
                    mat-flat-button
                    [disabled]="resetPasswordForm.disabled"
                    (click)="resetPassword()"
                >
                    @if (!resetPasswordForm.disabled) {
                        <span class="text-white"> Reset your password </span>
                    }
                    @if (resetPasswordForm.disabled) {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    }
                </button>
            </form>
        }
        <div class="text-secondary mt-8 text-md font-medium">
            <span>Return to</span>
            <a
                class="ml-1 text-nybble-theme hover:underline"
                [routerLink]="['/sign-in']"
                >sign in
            </a>
        </div>
    </div>
</div>
