<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex w-full max-w-screen-xl flex-col px-6 sm:px-8">
            <div
                class="my-8 flex min-w-0 flex-auto flex-col sm:my-12 sm:flex-row sm:items-center"
            >
                <!-- Avatar and name -->
                <div class="flex min-w-0 flex-auto items-center">
                    <div class="ml-4 flex min-w-0 flex-col">
                        <ng-container *transloco="let t">
                            <div
                                class="truncate text-2xl font-semibold leading-7 tracking-tight md:text-5xl md:leading-snug"
                            >
                                {{ t('welcome-back') }}, {{ user.name }}!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <div
                                class="text-secondary ml-1.5 truncate leading-6"
                            >
                                Last Login: Thursday, September 26th 2024
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="bg-default relative flex cursor-pointer self-start overflow-hidden rounded-t-xl border border-b-0 pb-1 pl-5 pr-4 pt-2"
                matRipple
                [matMenuTriggerFor]="projectsMenu"
            >
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="truncate font-medium leading-6">
                            {{ selectedProject }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_mini:chevron-down'"
                        ></mat-icon>
                    </div>
                </div>
                <mat-menu #projectsMenu="matMenu" [xPosition]="'before'">
                    <button
                        mat-menu-item
                        (click)="
                            selectedProject =
                                'Trevor Iles - Service Only Contract (S6420)'
                        "
                    >
                        Trevor Iles - Service Only Contract (S6420)
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div class="-mt-px flex-auto border-t pt-4 sm:pt-6">
        <div class="w-full p-6 md:p-0">
            <div
                class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3"
            >
                <div
                    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                >
                    <div class="flex items-start justify-between">
                        <div
                            class="truncate text-lg font-medium leading-6 tracking-tight"
                        >
                            Invoices
                        </div>
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div
                            class="text-7xl font-bold leading-none tracking-tight text-blue-500 sm:text-8xl"
                        >
                            21
                        </div>
                        <div
                            class="text-lg font-medium text-blue-600 dark:text-blue-500"
                        >
                            Total
                        </div>
                    </div>
                </div>
                <!-- Overdue -->
                <div
                    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                >
                    <div class="flex items-start justify-between">
                        <div
                            class="truncate text-lg font-medium leading-6 tracking-tight"
                        >
                            Invoices
                        </div>
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div
                            class="text-7xl font-bold leading-none tracking-tight text-red-500 sm:text-8xl"
                        >
                            17
                        </div>
                        <div
                            class="text-lg font-medium text-red-600 dark:text-red-500"
                        >
                            Outstanding
                        </div>
                    </div>
                </div>
                <!-- Issues -->
                <div
                    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                >
                    <div class="flex items-start justify-between">
                        <div
                            class="truncate text-lg font-medium leading-6 tracking-tight"
                        >
                            Invoices
                        </div>
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div
                            class="text-7xl font-bold leading-none tracking-tight text-amber-500 sm:text-8xl"
                        >
                            24
                        </div>
                        <div
                            class="text-lg font-medium text-amber-600 dark:text-amber-500"
                        >
                            Queried
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="mb-5 mt-5 grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3"
            >
                <div
                    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                >
                    <div class="flex items-start justify-between">
                        <div
                            class="truncate text-lg font-medium leading-6 tracking-tight"
                        >
                            Invoices
                        </div>
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div
                            class="text-7xl font-bold leading-none tracking-tight text-green-500 sm:text-8xl"
                        >
                            30
                        </div>
                        <div
                            class="text-lg font-medium text-green-600 dark:text-green-500"
                        >
                            Paid
                        </div>
                    </div>
                </div>
                <div
                    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                >
                    <div class="flex items-start justify-between">
                        <div
                            class="truncate text-lg font-medium leading-6 tracking-tight"
                        >
                            Messages
                        </div>
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div
                            class="text-7xl font-bold leading-none tracking-tight text-gray-500 sm:text-8xl"
                        >
                            5
                        </div>
                        <div
                            class="text-lg font-medium text-gray-600 dark:text-gray-500"
                        >
                            Sent
                        </div>
                    </div>
                </div>
                <div
                    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                >
                    <div class="flex items-start justify-between">
                        <div
                            class="truncate text-lg font-medium leading-6 tracking-tight"
                        >
                            Messages
                        </div>
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div
                            class="text-7xl font-bold leading-none tracking-tight text-purple-500 sm:text-8xl"
                        >
                            7
                        </div>
                        <div
                            class="text-lg font-medium text-purple-600 dark:text-purple-500"
                        >
                            Received
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
