<div
    class="mx-auto flex min-h-screen items-center justify-center bg-gray-100 md:w-1/2 lg:w-2/6"
>
    <div class="w-full max-w-2xl rounded-lg bg-white p-12 shadow-xl">
        <div class="text-4xl leading-tight tracking-tight">
            Forgot password?
        </div>
        <div class="mt-0.5 font-medium">
            Fill the form to reset your password
        </div>

        <!-- Alert -->
        @if (showAlert) {
            <fuse-alert
                class="mt-8"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>
        }

        @if (showForm) {
            <form
                class="mt-8"
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm"
            >
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    @if (forgotPasswordForm.get('email').hasError('required')) {
                        <mat-error> Email address is required </mat-error>
                    }
                    @if (forgotPasswordForm.get('email').hasError('email')) {
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                    }
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large bg-nybble-theme mt-3 w-full"
                    mat-flat-button
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()"
                >
                    @if (!forgotPasswordForm.disabled) {
                        <span class="text-white"> Send reset link </span>
                    }
                    @if (forgotPasswordForm.disabled) {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    }
                </button>
            </form>
        }
        <div class="text-secondary mt-8 text-md font-medium">
            <span>Return to</span>
            <a
                class="text-nybble-theme ml-1 hover:underline"
                [routerLink]="['/sign-in']"
                >sign in
            </a>
        </div>
    </div>
</div>
